/* adding my own bits and pieces */

code {
  background: #fff;
  color: #690FC4;
  font-size: 110%;
}

ul, ol {  margin-bottom: 3em; }

li {
	margin-bottom: .5em;
}
.footer {
  max-width: 768px;
  margin: 0 auto;
  padding: 16px 5% 32px;
  width: 90%;
}