<!doctype html> 
<html lang="en"> 
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} - {% endif %} {{site.name}}</title>
  <meta name="author" content="{{site.author}}">
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.categories %}<meta name="keywords" content="{{ page.categories }}">{% endif %}
  
  <link rel="icon" href="{{ site.url }}/favicon.png" />
  <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/apple-touch-icon.png" />
  
  <link rel="stylesheet" href="{{ site.url }}/style.css" />
  <link rel="stylesheet" href="{{ site.url }}/additional.css" />
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
